<style>
table{
margin-left:auto;
margin-right: auto;
font-family: arial;
border-radius: 6px;
}
h2{
text-align: center;
font-family: arial;
}
h3 {
text-align: center;
font-family: arial;
}
h4 {
text-align: center;
font-family: arial;
}
.wrapper {
  text-align: center;
}

.button {
  border:solid #1323a7 1px;
  border-radius: 6px;
}
form {
 margin: 0px;
}
.greenScreenTable {
  align: center;
  border-collapse: separate;
  border: 1px solid black;
  border-radius: 6px;
  color: #40ff00;
  background-color: black;
  font-size: 14px;
}
.consolezTable {
  align: center;
  border-collapse: separate;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 14px;
}
.consolezTable td {
  min-width: 75px;
  } 
.consolezTable th {
  border-top: none;
  border-left: none;
  } 
.consolezTable tr:nth-child(odd){ /* Define the background color for all the ODD background rows  */
  background: #e6e6e6;
  }
.consolezTable tr:nth-child(even){ /* Define the background color for all the EVEN background rows  */
  background: #f2f2f2;
  }
.consolezTable tr:hover { /* Define the hover highlight color for the table row */
  background-color: #CCBBDD;
  }
  
</style>
